<nav class="nav py-4">
  <div class="container d-flex">
    <h5 class="font-weight-light text-dark">traficaerien.com</h5>
  </div>
</nav>

<div class="banner d-flex align-items-center">
  <div class="container d-flex flex-column">
    <h4 class="text-dark">
      Vol retardé, annulé ou surbooké ?
    </h4>
    <span class="text-dark font-weight-light">Pour mieux vous préparer aux problèmes de vol nous vous proposons de voir les données du passé</span>
  </div>
</div>
<router-outlet></router-outlet>
